
<section id="license" class="doc-section">
    <h2 class="section-title">{{ site.data.about.title }}</h2>
    <div class="section-block text-center">
        {% include home/logo.liquid %}
        <br />
        <p>
            {{ site.data.about.part1 }}
        </p>
        <p>
            {{ site.data.about.part2 }}
        </p>
        <p>
            {{ site.data.about.part3 }}
        </p>
        <p>
            <a class="btn btn-cta btn-primary" href="https://{{ site.data.about.url }}" target="_blank">
                {{ site.data.about.url }}
            </a>
        </p>
    </div>
</section>